runpod
torch
torchvision
torchaudio
diffusers
transformers
accelerate
sentencepiece
moviepy
tqdm
numpy
imageio[ffmpeg]
opencv-python
einops
safetensors
torch==2.3.0
torchvision==0.18.0

git+https://github.com/Wan-Video/Wan2.2.git
